.App {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100%;
  min-width: 40%;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: 10vh 1fr 10vh;
  grid-gap: 10px;
  color: azure;
}

.navbar {
  margin-top: 10px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  /* border: 1px solid white; */
  border-radius: 10px;
  display: grid;
  min-width: 40%;
}

.content {
  grid-row: 2 / 3;
  grid-column: 2 /3;
  overflow-y: auto;
  /* border: 1px solid white; */
  border-radius: 10px;
  min-width: 40%;
  scroll-behavior: smooth;
}

.cajas {
  display: grid;
  width: 90%;
  height: 95%;
  margin: 2vh auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* border: 1px solid wheat; */
  border-radius: 10px;
  min-width: 300px;
  overflow-x: auto;
  place-content: initial;
}
::-webkit-scrollbar {
  display: none;
}

.cajas:first-child {
  display: grid;
  grid-row: 1fr 1fr;
  background-color: black;
}

.cajas:nth-child(2) {
  display: grid;
  
  grid-row: 1fr 1fr 1fr 1fr;
  
}

.cajas:nth-child(3) {
  /* background-color: rgb(60, 60, 60); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow-y: visible;
}

.proyecto {
  /* background-color: rgb(60, 60, 60); */
  color: aliceblue;
  border-radius: 10px;
  margin: 2vh auto;
  height: 40vh;
  width: 90%;
  object-fit: cover;
}


.cajas:last-child {
  grid-row: auto;
}

.foto {
  display: grid;
  /* place-content: center; */
}

.foto img{
  margin: auto auto;
  /* margin-top: 2vh; */
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  place-content: center;
}

.foto h3 {
  margin: 0;
}

.info {
  display: grid;
  place-content: center;
}

img {
  object-fit: cover;
}



.footer {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  /* border: 1px solid white; */
  border-radius: 10px;
  margin-bottom: 10px;
  display: grid;
  place-content: center;
}


